body {
	width: 100%;
	background-color: #fff;
}

.heading {
	height: 100vh;
	margin-top: 20px;

	&__logo{
		width: 100px;
		height: 60px;
	}

	&__title {
		font-size: 36px;
		letter-spacing: 1.5px;
		line-height: 48px;
		font-size: bold;
		padding-top: 200px;
	}

	&__subtitle {
		font-size: 16px;
		line-height: 24px;
	}

	&__button {
    position: relative;
    z-index: 100;
    background-color: transparent;
  }

  &__link {
		text-decoration: none;
		color: #000;
	}
}

.main {
	height: 100vh;
	
	&__stats {

	}

	&__border_top {
		width: 40px;
		border-top: 2px solid #63BD63;
	}

	&__title {
		text-align: center;
		font-size: 36px;
		font-weight: 48px;
		margin-bottom: 100px;
	}
}

.test {
	height: 50vh;

	&__title {
		font-size: 32px;
		line-height: 40px;
		text-align: center;
	}
}

.principles {
	height: 100vh;
	background: linear-gradient(42.05deg, #67B767 -13.97%, #5CB85C 58.37%);
	color: #fff;

	&__title {
		font-size: 26px;
		font-weight: 40px;
		text-align: center;
	}
}

.videos {
	height: 100vh;
	background-image: url("../stylesheets/images/vid-background.png");
}

.to-left {
	margin-left: -23% !important;
}

.padding_left-80 {
	padding-left: 80px;
}

.margin-top-80 {
	margin-top: 80px;
}

.margin-bottom-80 {
	margin-bottom: 80px;
}

.padding_right-20 {
	padding-right: 20px;
}

.padding_right-36 {
	padding-right: 36px;
}