@import "variables";

.button {
    outline: none;
    text-transform: uppercase;
    text-align: center;
    font-family: inherit;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 1.3px;
    cursor: pointer;
    transition: all 200ms;

    &_primary {
        background-color: inherit;
        color: $colorPrimary;
        border: 2px solid $colorPrimary;
        width: 200px;
        height: 45px;
        border-radius: 5px;

        &:hover {
            background-color: $colorPrimary;
            color: $colorWhite;
            border-radius: 5px;
        }

        &:active,
        &:focus {
            background-color: $colorPrimary;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
            border-radius: 5px;
        }
    }
    
    &_secondary {
        background-color: inherit;
        color: $colorPrimary;
        border: 2px solid $colorPrimary;
        width: 200px;
        height: 45px;
        border-radius: 5px;

        &:hover {
            background-color: $colorPrimary;
            color: $colorWhite;
            border-radius: 5px;
        }

        &:active,
        &:focus {
            background-color: $colorPrimary;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
            border-radius: 5px;
        }
    }

}
