$colorPrimary: #95DD95;
$colorHover: #1eaaae;
$colorWhite: #ffffff;
$colorLead: #4D5256;
$sizeLead: 15px;
$fwLead: 700;
$bgLeadAfter: #66E0E5;
$bgColor: #f2f2f2;

//colors
$white: #ffffff;
$art_color: #414A52;
$data_color: #B0B3B6;
$grey: rgba(255, 255, 255, 0.5);
$toggleColor: $art_color;

